@{
    ViewBag.Title = "Application Details";
}


<div class="container-fluid">
    <strong>Name:</strong> John Doe
    <strong>Phone:</strong>(541)111-2345
    <strong>Address:</strong>123 ABC Street
    <strong>Sport:</strong> Basketball
    <strong>Gender:</strong> Male
</div>

<div class="table-responsive" style="padding-top:40px">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Background Check</td>
                <td>Coaching information</td>
                <td>Coaches Pledge</td>
                <td>Driver's License</td>
                <td>Concussion Course</td>
                <td>PCA Course</td>
                <td>Coaches ID Badge</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pull-right" style="margin-top:50px">
    <button type="button" class="btn btn-primary btn-md-10">Go back</button>
</div>

