@{
    ViewBag.Title = "Application Details";
}


<div class="container-fluid">

    <ul style="list-style-type:none">
        <li><strong>Name:</strong> John Doe</li>
        <li><strong>Phone:</strong>(541)111-2345</li>
        <li><strong>Address:</strong>123 ABC Street</li>
        <li><strong>Sport:</strong> Basketball</li>
        <li><strong>Gender:</strong> Male</li>
    </ul>



    <div class="table-responsive" style="padding-top:40px">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><a href="">Background Check</a></td>
                    <td><a href="">Coaching information</a></td>
                    <td><a href="~/Views/Account/Page3.cshtml">Coaches Pledge</a></td>
                    <td><a href="/Views/Account/Page6.cshtml">Driver's License</a></td>
                    <td><a href="/Views/Account/Page4.cshtml">Concussion Course</a></td>
                    <td><a href="~/Views/Account/Page5.cshtml">PCA Course</a></td>
                    <td><a href="/Views/Account/Page7.cshtml">Coaches ID Badge</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pull-right" style="margin-top:50px">
        <button type="button" class="btn btn-primary btn-md-10">Go back</button>
    </div>
</div>

