@model ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}

<div class="col-md-offset-2 col-md-8">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <h3>Enter Email</h3>
            <br />
            <h4>We will send you a link to reset your password.</h4>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div style="background-image:none;" class="text-danger" asp-validation-summary="All"></div>
        <form asp-action="Login" asp-controller="Account" method="post">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                <input type="text" class="form-control" asp-for="Email" placeholder="Email">
            </div>
            <div><span asp-validation-for="Email" class="text-danger"></span></div>




            <button class="btn btn-success btn-lg btn-block" type="submit" style="margin-top:15px;">Email Link</button>
        </form>
    </div>

</div>
