@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Login";
}

<div class="container-fluid">
    <div class="login">
        <h3 class="_authTitle">Login or <a asp-action="Register" asp-controller="Account">Register</a></h3>

        <div class="row _row-sm-offset-3 _socialButtons">
            <div class="col-xs-6 col-sm-3">
                <a href="#" class="btn btn-lg btn-block _btn-facebook">
                    <i class="fa fa-facebook visible-xs"></i>
                    <span class="hidden-xs">Facebook</span>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3">
                <a href="#" class="btn btn-lg btn-block _btn-twitter">
                    <i class="fa fa-twitter visible-xs"></i>
                    <span class="hidden-xs">Twitter</span>
                </a>
            </div>
        </div>

        <div class="row _row-sm-offset-3 loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="_hrOr">
                <span class="_spanOr"></span>
            </div>
        </div>

        <div class="row _row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <div style="background-image:none;" class="text-danger" asp-validation-summary="All"></div>
                <form asp-action="Login" asp-controller="Account" method="post">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                        <input type="text" class="form-control" asp-for="UserName" placeholder="Email">
                    </div>
                    <div><span asp-validation-for="UserName" class="text-danger"></span></div>

                    <br />

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                    </div>
                    <div><span asp-validation-for="Password" class="text-danger"></span></div>

                    <br />

                    <button class="btn btn-success btn-lg btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>

    </div>
</div>