@{
	ViewBag.Title = "Page 1";
}

<div class="container-fluid">
	<h1 class="text-center">Step 1:</h1>
	<h3 class="text-center">We need some information about you...</h3><br />

	<form>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="FirstName" class="control-label">First Name</label>
			<input asp-for="FirstName" value='' class="form-control" id="FirstName" placeholder="First Name">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="MiddleName" class="control-label">Middle Name</label>
			<input asp-for="MiddleName" value='' class="form-control" id="MiddleName" placeholder="Middle Name">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="LastName" class="control-label">Last Name</label>
			<input asp-for="LastName" value='' class="form-control" id="LastName" placeholder="Last Name">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="PreferredName" class="control-label">Preferred Name</label>
			<input asp-for="PreferredName" value='' class="form-control" id="PreferredName" placeholder="Preferred Name">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="PreviousName" class="control-label">Previous Last Name Used</label>
			<input asp-for="PreviousName" value='' class="form-control" id="PreviousName" placeholder="Previous Last Name Used">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="dateOfBirht" class="control-label">Date of Birth</label>
			<input asp-for="previousName" value='' class="form-control" id="dateOfBirth" placeholder="Date of Birth">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="cellPhone" class="control-label">Cell Phone</label>
			<input asp-for="cellPhone" value='' class="form-control" id="cellPhone" placeholder="Cell Phone">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="altPhone" class="control-label">Alternate Phone</label>
			<input asp-for="altPhone" value='' class="form-control" id="altPhone" placeholder="Alternate Phone">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-7">
			<label asp-for="address" class="control-label">Address</label>
			<input asp-for="address" value='' class="form-control" id="address" placeholder="Address">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="zip" class="control-label">Zip</label>
			<input asp-for="zip" value='' class="form-control" id="zip" placeholder="Zip">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-7">
			<label asp-for="City" class="control-label">City</label>
			<input asp-for="City" value='' class="form-control" id="City" placeholder="City">
		</div>


		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="State" class="control-label">State</label>
			<select class="form-control">
				<option value=""></option>
				<option value="CA">California</option>
				<option value="OR">Oregon</option>
				<option value="WA">Washington</option>
			</select>
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-7">
			<label asp-for="TimeInOregon" class="control-label">Time in Oregon</label>
			<input asp-for="TimeInOregon" value='' class="form-control" id="TimeInOregon" placeholder="Time in Oregon">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="PreviousState" class="control-label">Previous state lived in</label>
			<input asp-for="PreviousState" value='' class="form-control" id="PreviousState" placeholder="Previous State">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-7">
			<label asp-for="CurrentEmployer" class="control-label">Current Employer</label>
			<input asp-for="CurrentEmployer" value='' class="form-control" id="CurrentEmployer" placeholder="Current Employer">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label asp-for="JobTitle" class="control-label">Job Title</label>
			<input asp-for="JobTitle" value='' class="form-control" id="JobTitle" placeholder="Job Title">
		</div><br />

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<div class="pull-left">
				<button type="button" class="btn btn-primary btn-md-10">Save</button>
			</div>
		</div>



		<div class="pull-right">
			<div class="form-group col-sm-12">
				<ul class="pagination">
					<li><a href="~/Views/Account/Page1.cshtml">1</a></li>
					<li><a href="~/Views/Account/Page2.cshtml">2</a></li>
					<li><a href="~/Views/Account/Page3.cshtml">3</a></li>
					<li><a href="~/Views/Account/Page4.cshtml">4</a></li>
					<li><a href="~/Views/Account/Page5.cshtml">5</a></li>
					<li><a href="~/Views/Account/Page6.cshtml">6</a></li>
					<li><a href="~/Views/Account/Page7.cshtml">7</a></li>
				</ul>
			</div>
		</div>
	</form>
 </div>
