@model PasswordResetViewModel

@{
    ViewBag.Title = "Password Reset";
}

<div class="col-md-offset-2 col-md-8">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <h3>Enter your new password.</h3>
           
        </div>
    </div>


            <div class="input-group" style="margin-top:15px;">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
            </div>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>


            <div class="input-group" style="margin-top:15px;">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
            </div>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>



            <button class="btn btn-success btn-lg btn-block" type="submit" style="margin-top:15px;">Reset Password</button>
       
    </div>

