@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<div class="container">
    <div class="login">
        <h3 class="_authTitle"><a asp-action="Login" asp-controller="Account">Login</a> or Register  </h3>
        <br />
        <div class="row _row-sm-offset-3 loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="_hrOr">
                <span class="_spanOr"></span>
            </div>
        </div>

        <div class="row _row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <div style="background-image:none;" class="text-danger" asp-validation-summary="All"></div>
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" asp-for="IngameName" placeholder="RSN">
                    </div>
                    <div><span asp-validation-for="IngameName" class="text-danger"></span></div>
                    <br />

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                        <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                    </div>
                    <div><span asp-validation-for="Email" class="text-danger"></span></div>
                    <br />

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                    </div>
                    <div><span asp-validation-for="Password" class="text-danger"></span></div>
                    <br />

                    <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>