
<!DOCTYPE html>

<html style="width:100%; height:100%;">
<head>
    <meta name="viewport" content="width=device-width height=device-height" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Assistant:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="~/css/layout.css" rel="stylesheet">
</head>

    <body>
        <nav class="navbar navHeader navbar-static-top" role="navigation">
            
            <!-- Logo -->
            <a class="navbar-brand" href="http://www.kidsports.org/"><img id="ksLogo" src="/Images/logo.png" /></a>

            <!-- Only display stuff on nav if the user is logged in -->
            @if (User.Identity.Name != null)
            {
                <!-- Icons for xs devices -->
                <div class="navbar-header navHeader">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- The nav links and other content for toggling -->
                <div class="collapse navbar-collapse" id="Nav">
                    <ul id="navLinks" class="nav navbar-nav">
                        <li><a>Home</a></li>

                        <!-- Links for admins -->
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a>Add App Options</a></li>
                            <li><a>Change Site Links</a></li>
                            <li><a>Update Users</a></li>
                        }

                        <!-- Links for Sports Managers -->
                        @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
                        {
                            <li><a>View Applications</a></li>
                            <li><a>test</a></li>
                            <li><a>test2</a></li>
                        }

                        <li><a onclick="location='/Account/Logout'">Logout</a></li>
                    </ul>
                </div>
            }
        </nav>



            <!-- Header Nav -->
            @*<div id="header" class="container col-xs-12">
                    <a id="ksLinkLogo" class="logo" href="http://www.kidsports.org/">
                        <img id="ksLogo" src="/Images/logo.png" />
                    </a>

                    @if (User.Identity.Name != null)
                    {
                        <button id="logoutBtn" type="button" onclick="location='/Account/Logout'" class="btn pull-right">Logout</button>
                    }
                </div>*@

            <!-- Main Body -->
            <div class="container">
                <div id="main-content" class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 text-center">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="row text-center" style="padding-top:15px;">
                        <div class="col-md-offset-2 col-md-2 col-sm-3 col-xs-6">
                            <a href="https://www.instagram.com/kidsports4life/" target="_blank">
                                <span id="socialMediaLinks">Instagram</span>
                            </a>
                        </div>

                        <div class="col-md-offset-0 col-md-2 col-sm-3  col-xs-6">
                            <a href="https://www.facebook.com/www.emeraldkidsports/" target="_blank">
                                <span id="socialMediaLinks">Facebook</span>
                            </a>
                        </div>

                        <div class="col-md-offset-0 col-md-2 col-sm-3  col-xs-6">
                            <a href="https://twitter.com/kidsports4life" target="_blank">
                                <span id="socialMediaLinks">Twitter</span>
                            </a>
                        </div>

                        <div class="col-md-offset-0 col-md-2 col-sm-3  col-xs-6">
                            <a href="http://www.kidsports.org/blog-1" target="_blank">
                                <span id="socialMediaLinks">Bev's Blog</span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div id="blockInfo" class="col-md-12 col-xs-12">
                            <h3 id="footerHeader" class="text-center">
                                2190 POLK STREET, EUGENE, OR 97405 | PHONE 541 683 2374 | FAX 541 302 9430 | EMAIL
                                <a id="footerEmail" target="_blank" href="mailto:info@kidsports.org">INFO@KIDSPORTS.ORG</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </footer>
    </body>
</html>