@model RegisterViewModel

@{
    ViewBag.Title = "UpdateProfile";
}

<div class="col-md-offset-3 col-md-6">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center"><h3>Update Profile Here</h3></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div style="background-image:none;" class="text-danger" asp-validation-summary="All"></div>
        <form asp-controller="Account" asp-action="Register" method="post">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" asp-for="FirstName" placeholder="Legal First Name">
            </div>
            <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
            <br />

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" asp-for="MiddleName" placeholder="Legal Middle Name">
            </div>
            <div><span asp-validation-for="MiddleName" class="text-danger"></span></div>
            <br />

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" asp-for="LastName" placeholder="Legal Last Name">
            </div>
            <div><span asp-validation-for="LastName" class="text-danger"></span></div>
            <br />

            <div class="form-group">
                <label for="HS Area" class="control-label">Sports Manager: Area</label>
                <select id="area" multiple class="form-control">
                    <option value="SouthEugene">South Eugene</option>
                    <option value="Springfield">Springfield</option>
                    <option value="NorthEugene">North Eugene</option>
                    <option value="Sheldon">Sheldon</option>
                    <option value="Churchill">Churchill</option>
                    <option value="Willamette">Willamette</option>

                </select>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                <input type="text" class="form-control" asp-for="Email" placeholder="Email">
            </div>
            <div><span asp-validation-for="Email" class="text-danger"></span></div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                <input type="text" class="form-control" asp-for="Email" placeholder="Verify Email">
            </div>
            <div><span asp-validation-for="Email" class="text-danger"></span></div>
            <br />

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
            </div>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" asp-for="Password" placeholder="Verify Password">
            </div>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <br />

            <button class="btn btn-success btn-lg btn-block" type="submit">Save Updates</button>
        </form>
    </div>
</div>
