html {
    position:relative;
}

body {
  /* Margin bottom by footer height */
  min-height:100%;
  position:relative;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: black;
}

#ksLogo {
    margin-top:-15px;
    width:150px; 
    z-index: 10;
}

#ksLinkLogo {
     position:absolute; 
     display:block; 
     left: 50%; 
     margin-left: -100px; 
     float: none;
     z-index: 10;
}

.navHeader { 
    background-color:#218c48;
    font-weight:bold;
}

#navLinks > li > a:hover {
    background-color: #5CB85C;
}

#navLinks > li > a {
    color:white;
}

.navbar-toggle {
    border-color: white;
}

.navbar-toggle > span {
    background-color: white;
}

#logoutBtn {
    background-color:white; 
    font-weight:bold; font-size:12px; 
    color:#218c48; 
    margin-top:10px; 
    margin-right:10px;
}

#main-content {
    margin-top: 5px;
    padding-bottom:150px;
    overflow: auto;
}

#socialMediaLinks {
     color:white; 
     font-family: 'Assistant', sans-serif;
}

#footerInfo {
    text-align:center; 
    margin-bottom:25px;
}

#footerHeader {
    color:white; 
    font-weight:bold; 
    font-size: 16px;
    font-family: 'Assistant', sans-serif;
}

#footerEmail {
    color: white;
    font-family: 'Assistant', sans-serif;
}

[class*="col-xs"] > .btn {
    margin-bottom: 10px;
}


h1, h2 {
    font-weight:bold;
     font-family: 'Assistant', sans-serif;
}

label {
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
}

p {
    font-family: 'Raleway', sans-serif;
}

span.multiselect-native-select {
	position: relative
}
span.multiselect-native-select select {
	border: 0!important;
	clip: rect(0 0 0 0)!important;
	height: 1px!important;
	margin: -1px -1px -1px -3px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	width: 1px!important;
	left: 50%;
	top: 30px
}
.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0
}
.multiselect-container .input-group {
	margin: 5px
}
.multiselect-container>li {
	padding: 0
}
.multiselect-container>multiselect-all label {
	font-weight: 700
}
.multiselect-container>multiselect-group label {
	margin: 0;
	padding: 3px 20px 3px 20px;
	height: 100%;
	font-weight: 700
}
.multiselect-container>multiselect-group-clickable label {
	cursor: pointer
}
.multiselect-container>li>a {
	padding: 0
}
.multiselect-container>li>a>label {
	margin: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 400;
	padding: 3px 0 3px 30px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
	margin: 0
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin-bottom: 5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left: -20px;
	margin-right: 0
}



