@model CoachInterestViewModel
@{
    ViewBag.Title = "Coach Interests";
}

    <h1 class="text-center">Coaching Interests</h1><br />
    <form>
        <div class="well">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <h4>Coaching position sought:</h4>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <h5><input type="checkbox" value="" style="font-weight: bold;"> Head Coach </h5>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <h5><input type="checkbox" value="" style="font-weight: bold;"> Assistant Coach </h5><br />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <div id="myToolTip" title="Hold control key and click for multiple select">
                        <label for="sport" class="control-label">Sport</label>
                        </div>
                        <select multiple class="form-control">
                            <option value="Any">Any</option>
                            <option value="Basketball">Basketball</option>
                            <option value="Baseball">Baseball</option>
                            <option value="Football">Football</option>
                            <option value="Lacrosse">Lacrosse</option>
                            <option value="Rugby">Rugby</option>
                            <option value="Spring Soccer">Soccer-Spring</option>
                            <option value="Fall Soccer">Soccer-Fall</option>
                            <option value="Softball">Softball</option>
                            <option value="Volleyball">Volleyball</option>
                        </select>
                    </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <div id="myToolTip" title="Hold control key and click for multiple select">
                        <label for="HS Area" class="control-label">Area</label>
                        </div>
                        <select id="area" multiple class="form-control">
                            <option value="Any" selected="selected">Any</option>
                            <option value="SouthEugene">South Eugene</option>
                            <option value="Springfield">Springfield</option>
                            <option value="NorthEugene">North Eugene</option>
                            <option value="Sheldon">Sheldon</option>
                            <option value="Churchill">Churchill</option>
                            <option value="Willamette">Willamette</option>

                        </select>
                    </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label for="school" class="control-label">School</label>
                    <select id="school" class="form-control">
                        <option value="" selected="selected">Any</option>

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label for="gender" class="control-label">Gender<br />  Preference</label>

                    <select class="form-control">
                        <option value="Any">Any</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>

                    </select>
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <div id="myToolTip" title="Hold control key and click for multiple select">
                        <label for="grade" class="control-label">Grade<br /> Preference</label>
                        </div>
                        <select multiple class="form-control">
                            <option value="" selected="selected">Any</option>
                            <option value="0">Pre/Kindergarden</option>
                            <option value="1">Kindergarden</option>
                            <option value="2">1st</option>
                            <option value="3">2nd</option>
                            <option value="4">3rd</option>
                            <option value="5">4th</option>
                            <option value="6">5th</option>
                            <option value="7">6th</option>
                            <option value="8">7th</option>
                            <option value="9">8th</option>
                            <option value="10">High School</option>

                        </select>
                    </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label for="childTeam" class="control-label">If coaching child's team, please note his/her name</label>
                    <input type="childTeam" value='' class="form-control" id="childTeam" placeholder="">
                </div>
            </div>

            <div class="row" style="margin-top:40px">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                   
                </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <div id="myToolTip" title="Hold control key and click for multiple select">
                        <label for="gradesCoached" class="control-label">Previous Grades Coached</label>
                        </div>
                        <select multiple class="form-control">

                            <option value="" selected="selected">None</option>
                            <option value="Kindergarten">Pre-K</option>
                            <option value="Elementary">Elementary School</option>
                            <option value="MiddleSchool">Middle School</option>
                            <option value="HighSchool">High School</option>
                        </select>
                    </div>

                <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                    <label for="experience" class="control-label">Years Experience</label>
                    <select class="form-control">
                        <option value="0" selected="selected">None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6 or More</option>
                    </select>
                </div>
            </div>
        </div>

        @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
        {
            <div class="btn-group col-xs-12 col-sm-3">
                <button onclick="location = '/Application/CoachInfo'" type="button" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
            </div>

            Html.RenderPartial("ApproveDeny.cshtml");

            <div class="btn-group col-xs-12 col-sm-3">
                <button onclick="location = '/Application/CoachPledge'" type="button" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
        }
        else
        {
            <div class="btn-group col-xs-12 col-sm-3">
                <button onclick="location = '/Application/CoachInfo'" type="button" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
            </div>

            <div class="col-sm-6"></div>

            <div class="btn-group col-xs-12 col-sm-3">
                <button onclick="location = '/Application/CoachPledge'" type="button" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
        }

    </form>

<script>
    // Hard Coded associative arrays of schools by area for UX
    var sEugeneSchools = {
        'camasRidge' : 'Camas Ridge',
        'charlamagne' : 'Charlamagne',
        'edgewood': 'Edgewood',
        'edison': 'Edison',
        'farHorizonsMontessori': 'Far Horizon Montessori',
        'oharaCatholic': "O'Hara Catholic",
        'oakhill': 'Oak Hill',
        'ridgelineMontessori': 'Ridgeline Montessori',
        'rooselvelt': 'Rooselvelt',
        'spencerButte': 'Spencer Butte',
        'southEugene': 'South Eugene',
        'theVillageSchool': 'The Village School',


    };

    var springfieldSchools = {
        'agnesStewart' : 'Agnes Stewart',
        'briggs' : 'Briggs',
        'centinnial' : 'Centinnial',
        'douglasGardens' : 'Douglas Gardens',
        'guyLee' : 'Guy Lee',
        'hamlin' : 'Hamlin',
        'maple' : 'Maple',
        'mtVernon' : 'Mt Vernon',
        'page' : 'Page',
        'pleasantView' : 'Pleasant View',
        'ridgeView' : 'Ridge View',
        'riverBend' : 'River Bend',
        'springfield' : 'Springfield',
        'thurston' : 'Thurston',
        'twoRiversDosRios' : 'Two River/Dos Rios',
        'walterville' : 'Walterville',
        'yolanda' : 'Yolanda'


    };

    var nEugeneSchools = {
        'aubreyPark' : 'Aubrey Park',
        'corridor' : 'Corridor',
        'howard' : 'Howard',
        'northEugeneElCaminoReal': 'North Eugene/El Camino Real',
        'springCreek': 'Spring Creek',
        'yujinGakuen': 'Yujin Gakuen'

    };

    var sheldonSchools = {
        'berthaHolt' : 'Bertha Holt',
        'buenaVista' : 'Buena Vista',
        'calYoung' : 'Cal Young',
        'coburgCharter': 'Coburg Charter',
        'eugeneChristian': 'Eugene Christian',
        'gilham': 'Gilham',
        'maristChristian': 'Marist Christian',
        'sheldon': 'Sheldon',
        'monroe': 'Monroe',
        'stPaulCatholic': 'St Paul Catholic',
        'willagillespie': 'Willagillespie',

    };

    var churchillSchools = {
        'adams': 'Adams',
        'ataJefferson': 'ATA/Jefferson',
        'cesarChavez': 'Cesar Chavez',
        'familySchool': 'Family School',
        'kennedy': 'Kennedy',
        'mcCornack': 'McCornack',
        'twinOaks': 'Twin Oaks',
        'willametteChristian': 'Willamette Christian'

    };

    var willametteSchools = {
        'cascade': 'Cascade',
        'clearLake': 'Clear Lake',
        'danebo': 'Danebo',
        'fairfield': 'Fairfield',
        'irving': 'Irving',
        'kalapula': 'Kalapula',
        'malabon': 'Malabon',
        'meadowView': 'Meadow View',
        'prairieMtn': 'Prairie Mtn',
        'shasta': 'Shasta',
        'willamette': 'Willamette'
    };


  // fires when the page loads
    $(document).ready(function () {
        //fires when an area is selected from the select list with the id 'area'
        $("#area").change(function () {
            //checks to see which value has been selected and calls the function
            //to load schools based on selected area
            if ($(this).val() == 'SouthEugene')
                listSchoolsByArea(sEugeneSchools);

            else if ($(this).val() == 'Springfield')
                listSchoolsByArea(springfieldSchools);

            else if ($(this).val() == 'NorthEugene')
                listSchoolsByArea(nEugeneSchools);

            else if ($(this).val() == 'Sheldon')
                listSchoolsByArea(sheldonSchools);

            else if ($(this).val() == 'Churchill')
                listSchoolsByArea(churchillSchools);

            else if ($(this).val() == 'Willamette')
                listSchoolsByArea(willametteSchools);

            else
                $("#school").children('option:not(:first)').remove();
        });
    });
    function listSchoolsByArea(schoolArea)
    {
        //selects the list box with the id 'school' and removes all
        //options excluding the first.
        $("#school").children('option:not(:first)').remove();
        //loops through the parameter array and appends an option element
        //to the school list foreach element in the given
        //associative array {value, text } pair
        $.each(schoolArea, function (val, text) {

            $("#school").append($('<option>', { value: val, text: text }));
        });

    }

</script>
<script type="text/javascript">
         $('document').ready(function(){
             $('#myToolTip').tooltip();

         });
</script> 


