@{ 
    ViewBag.Title = "Home";
}
	
<!-- Need to add id for username for now I have hard-coded "John" -->
<h1>Hello, John. </h1> 
<h3>Your application is in pending completion. 
<br/>Please refer to the chart below for further information and take appropriate action.</h3><br/>

<table class="table table-responsive">
    <thead>
        <tr><td colspan="12" style="font-weight:bold;">Application status is indicated by the colors below.</td></tr>
        <tr>
            <td class="bg-success col-xs-3" style="font-weight:bold;">Accepted</td>
            <td class="bg-warning col-xs-3" style="font-weight:bold;">Pending approval</td>
            <td class="bg-danger col-xs-3" style="font-weight:bold;">Needs to be completed</td>
        </tr>
    </thead>
</table>

<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td class="bg-warning"><a style="color:black; font-weight:bold;">Background Check</a></td>
                <td class="bg-success"><a style="color:black; font-weight:bold;">Coaching Preferences</a></td>
                <td class="bg-danger"><a style="color:black; font-weight:bold;">Coaches Pledge</a></td>
                <td class="bg-warning"><a style="color:black; font-weight:bold;">Driver's License</a></td>
                <td class="bg-success"><a style="color:black; font-weight:bold;">NFHS Concussion Course</a></td>
                <td class="bg-success"><a style="color:black; font-weight:bold;">PCA Course</a></td>
                <td class="bg-warning"><a style="color:black; font-weight:bold;">Coaches ID Badge</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pull-right" style="margin-top:50px">
    <button type="button" class="btn btn-primary btn-md-10">Go back</button>
</div>

