@{
    ViewBag.Title = "Applicant Details";
}


<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Name:</strong> John Doe</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Email:</strong><email mail-to="johndoe@gmail.com">johndoe@gmail.com</email></div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Phone:</strong>(541)111-2345</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Address:</strong>123 ABC Street</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Sport:</strong> Basketball</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Gender:</strong> Male</div>
    </div>
</div>

<div class="table-responsive" style="margin-top:25px;">
    <table class="table table-bordered">
        <tr>
            <td>Background Check</td>
            <td>Coaching information</td>
            <td>Coaches Pledge</td>
            <td>Driver's License</td>
            <td>Concussion Course</td>
            <td>PCA Course</td>
            <td>Coaches ID Badge</td>
        </tr>
    </table>
</div>

<div class="pull-right" style="margin-top:50px">
    <button type="button" class="btn btn-primary btn-md-10">Go back</button>
</div>

