@{
    ViewBag.Title = "Applicant Details";
}


<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Name:</strong> John Doe</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Email:</strong><email mail-to="johndoe@gmail.com">johndoe@gmail.com</email></div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Phone:</strong>(541)111-2345</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Address:</strong>123 ABC Street</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Sport:</strong> Basketball</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"><strong>Gender:</strong> Male</div>
    </div>
</div>

<div class="table-responsive row" style="margin-top:25px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td class="bg-warning"><a style="color:black; font-weight:bold;" onclick="location='/Application/Page1'">Background Check</a></td>
                <td class="bg-success"><a style="color:black; font-weight:bold;" onclick="location='/Application/Page2'">Coaching Preferences</a></td>
                <td class="bg-danger"><a style="color:black; font-weight:bold;" onclick="location='/Application/Page3'">Coaches Pledge</a></td>
                <td class="bg-warning"><a style="color:black; font-weight:bold;" onclick="location='/Application/Page6'">Driver's License</a></td>
                <td class="bg-success"><a style="color:black; font-weight:bold;" onclick="location='/Application/Page4'">NFHS Concussion Course</a></td>
                <td class="bg-success"><a style="color:black; font-weight:bold;" onclick="location='/Application/Page5'">PCA Course</a></td>
                <td class="bg-warning"><a style="color:black; font-weight:bold;" onclick="location='/Application/Page7'">Coaches ID Badge</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pull-right" style="margin-top:50px">
    <button type="button" onclick="location='/Application/Applications'" class="btn btn-primary">Go back</button>
</div>

