<div class="btn-group col-xs-12 col-sm-3">
    <button type="submit" name="Direction" value="approve" class="btn btn-success col-xs-12">Approve </button>
</div>
<div class="btn-group col-xs-12 col-sm-3">
    <button type="submit" name="Direction" value="deny" class="btn btn-danger col-xs-12">Deny</button>
</div>