<div class="btn-group col-xs-12 col-sm-3">
    <button type="button" class="btn btn-success col-xs-12">Approve </button>
</div>
<div class="btn-group col-xs-12 col-sm-3">
    <button type="button" class="btn btn-danger col-xs-12">Deny</button>
</div>

<style>
    [class*="col-xs"] {
        margin-bottom: 10px;
    }
</style>

