<div class="col-xs-6 col-md-2">
    <button type="button" class="btn btn-success" style="min-width:60px;">Aprove </button>
    <button type="button" class="btn btn-danger pull-right" style="min-width:60px;">Deny</button>
</div>
