<!DOCTYPE html>
<html lang="en">
<head>
<title>Page 1.1</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
	
	<style>
table {
	align: center;
    border-collapse: collapse;
    border: 1px solid black;
    width: 40%;
}
td{
    width: 50%;
    height: 2em;
    border: 1px solid #ccc;
}
</style>
</head>
<body>

<div class="container-fluid" style="max-width:1000px">
	<h2 class="text-center">Here are all unattended background checks with results:</h2>
	<script type="text/javascript">


</script>
<center>	
<div style="overflow-x:auto;">
<table style="text-align:center">
	
	<tr>
		<td class="col-xs-6"><input type=submit value="View Results"></td>
		<td class="col-xs-3">John Doe</td>
		<td class="col-xs-3">1/22/17</td>
	</tr>
	
	<tr>
		<td><input type=submit value="View Results"></td>
		<td>Jane Doe</td>
		<td>3/14/17</td>
	</tr>
	
	<tr>
		<td><input type=submit value="View Results"></td>
		<td>Bob Doe</td>
		<td>2/18/17</td>
	</tr>

</center>
							
							
				</div>				

</body>
</html>