<h2 class="text-center">Here are all unattended background checks with results:</h2>
    
<div class="pull-right" style="margin-bottom:10px;">
    <input type="text" style="height:31px;" />
    <button class="btn btn-primary">Search</button>
</div>
    
<table class="table table-responsive table-bordered">
    <tr>
        <td class="col-xs-4">Background Check Details</td>
        <td class="col-xs-4">Applicant Name</td>
        <td class="col-xs-4">Results Date</td>
    </tr>

    <tr>
        <td><button type="button" onclick="location = '/Application/BGCResultsDescription'" class="btn btn-primary">View Details</button></td>
        <td>Jane Doe</td>
        <td>3/14/17</td>
    </tr>

    <tr>
        <td><button type="button" onclick="location = '/Application/BGCResultsDescription'" class="btn btn-primary">View Details</button></td>
        <td>Bob Doe</td>
        <td>2/18/17</td>
    </tr>

    <tr>
        <td><button type="button" onclick="location = '/Application/BGCResultsDescription'" class="btn btn-primary">View Details</button></td>
        <td>John Doe</td>
        <td>8/12/17</td>
    </tr>

    <tr>
        <td><button type="button" onclick="location = '/Application/BGCResultsDescription'" class="btn btn-primary">View Details</button></td>
        <td>Smith Doe</td>
        <td>7/14/17</td>
    </tr>

    <tr>
        <td><button type="button" onclick="location = '/Application/BGCResultsDescription'" class="btn btn-primary">View Details</button></td>
        <td>Chris Doe</td>
        <td>4/23/17</td>
    </tr>

    <tr>
        <td><button type="button" onclick="location = '/Application/BGCResultsDescription'" class="btn btn-primary">View Details</button></td>
        <td>Erica Doe</td>
        <td>1/1/17</td>
    </tr>
</table>

