@{ 
    ViewBag.Title = "Background Checks";
}

<h2 class="text-center">Here are all unattended background checks with results:</h2>

<div class="table-responsive">
    <table class="table table-striped">
	    <tr>
		    <td class="col-xs-4"><input type="submit" class="btn btn-success" value="View Results"></td>
		    <td class="col-xs-4">John Doe</td>
		    <td class="col-xs-4">1/22/17</td>
	    </tr>
	
	    <tr>
		    <td><input type="submit" class="btn btn-success" value="View Results"></td>
		    <td>Jane Doe</td>
		    <td>3/14/17</td>
	    </tr>
	
	    <tr>
		    <td><input type="submit" class="btn btn-success" value="View Results"></td>
		    <td>Bob Doe</td>
		    <td>2/18/17</td>
	    </tr>
    </table>
</div>

<div class="pull-right" style="margin-top:20px">
    <button type="button" class="btn btn-primary">Go back</button>
</div>
							
							