<style>
    table {
        align: center;
        border-collapse: collapse;
        border: 1px solid black;
        width: 40%;
    }

    td {
        width: 50%;
        height: 2em;
        border: 1px solid #ccc;
    }
</style>

<body>

    <div class="container-fluid" style="max-width:1000px">
        <h2 class="text-center">Here are all unattended background checks with results:</h2>
        <script type="text/javascript">


        </script>
        <center>
            <div style="overflow-x:auto;">
                <table style="text-align:center">

                    <tr>
                        <td class="col-xs-6"><input type=submit value="View Results"></td>
                        <td class="col-xs-3">John Doe</td>
                        <td class="col-xs-3">1/22/17</td>
                    </tr>

                    <tr>
                        <td><input type=submit value="View Results"></td>
                        <td>Jane Doe</td>
                        <td>3/14/17</td>
                    </tr>

                    <tr>
                        <td><input type=submit value="View Results"></td>
                        <td>Bob Doe</td>
                        <td>2/18/17</td>
                    </tr>

        </center>


    </div>

</body>
