@{
    ViewBag.Title = "Background Check Results";
}

<h3 class="text-left">Case 1:</h3>
    <p class="col-xs-12"><strong>Jurisdiction:</strong> Idaho Department of Corrections</p>
    <p class="col-xs-12"><strong>Date:</strong> 02/11/1989</p>
    <p class="col-xs-12"><strong>Status:</strong> Probation</p>

<h3 class="text-left">Offense Information:</h3>
    <p class="col-xs-12"><strong>Case Number:</strong> C-98872148-A</p>
    <p class="col-xs-12"><strong>Offense:</strong> Petit Larcen</p>
    <p class="col-xs-12"><strong>Level:</strong> Misdemeanor</p>
    <p class="col-xs-12"><strong>Date:</strong> 01/19/1989</p>
    <p class="col-xs-12"><strong>Sentence:</strong> Minimum</p>
    <p class="col-xs-12"><strong>Length:</strong> 1 year, 0 months, 0 days</p>

    <p class="col-xs-12"><strong>Case Number:</strong> I0888806</p>
    <p class="col-xs-12"><strong>Offense:</strong> Driving While Intoxicated</p>
    <p class="col-xs-12"><strong>Level:</strong> Felony</p>
    <p class="col-xs-12"><strong>Date:</strong> 08/06/1981</p>
    <p class="col-xs-12"><strong>Sentence:</strong> Minimum</p>
    <p class="col-xs-12"><strong>Length:</strong> 2 years, 0 months, 0 days</p>

<div class="btn-group-horizontal">
    <button type="button" class="btn btn-primary">Approve</button>
    <button type="button" class="btn btn-primary">Deny</button>
    <!--This prompts SM to contact applicant with denial notice-->
    <button type="button" class="btn btn-primary">Go Back</button>
</div>


