

@model CoachPledgeViewModel
@{
    ViewBag.Title = "Coach Plegde";
}
    <h1 class="text-center">The Coaches Pledge</h1><br />

<form asp-controller="Application" asp-action="CoachPledge" method="post">
    <input type="hidden" asp-for="@Model.ApplicationID" value="@Model.ApplicationID" />
    
    <div class="well">
        <div class="row">
            <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-12">
                <p>
                    As coaches, you determine the kind of experience our athletes have playing sports. KidSports is committed to the principles of
                    Positive Coaching Alliance (PCA). KS expects you to be a "Double-Goal Coach."
                    You'll not only strive to win, but also, more importantly, pursue the goal of teaching positive life lessons through team sports.

                </p>
            </div>
        </div>

        <div>
            
<a href="~/CoachEthicContract.pdf" id="CoachPledge" target="_blank">View terms of the coaches pledge here.</a>
            <span asp-validation-for="IsInAgreement" class="text-danger"></span>
        </div>


        @*<div class="row">*@
        @*<div class="form-group col-md-offset-1 col-xs-10 col-md-11" style="text-align:center">*@
        <h5><input type="checkbox" id="pledgeCheckbox"asp-for="IsInAgreement" disabled style="font-weight: bold;">I agree to the Terms and Conditions.</h5>
        <p>I pledge to observe, practice, and uphold the KS/PCA Coaces Pledge.</p>
        @*</div>*@
        @*</div>*@
        <div class="row">
            <div class="col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-6">
                <label asp-for="Name" class="control-label">Name<span style="color:red;">*</span></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-2">
                <label asp-for="Initials" class="control-label">Initials<span style="color:red;">*</span></label>
                <input asp-for="Initials" class="form-control">
                <span asp-validation-for="Initials" class="text-danger"></span>
            </div>

            <div class="col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                <label asp-for="PledgeSubmissionDate" class="control-label">Date<span style="color:red;">*</span></label>
                <input type="date" class="form-control" @*asp-format="{0:MM/dd/yyyy}"*@ asp-for="PledgeSubmissionDate" />
            </div>
        </div>

    </div>

    @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
    {
        <div class="btn-group col-xs-12 col-sm-3">
            <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
        </div>

        Html.RenderPartial("ApproveDeny.cshtml");

        <div class="btn-group col-xs-12 col-sm-3">
            <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
        </div>
    }
    else
    {
        <div class="btn-group col-xs-12 col-sm-3">
            <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
        </div>

        <div class="col-sm-6"></div>

        <div class="btn-group col-xs-12 col-sm-3">
            <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
        </div>
    }
</form>

<script>
    $(function () {
        $("#CoachPledge").click(function () {
            
            $('#pledgeCheckbox').prop("disabled", false);
               
           
        });


    });
</script>



