<!DOCTYPE html>
<html lang="en">
<head>
      <title>Completed Application</title>
	  	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="mystyle2.css">
		
	
		<!-- Need to add id for username for now I have hard-coded "John" -->
		<h1 class="text-center">Hello, John. </h1> 
		<h3 class="text-center">Your application is complete and has been approved!<br/>
			<img src="GreenCheckmark.jpg" alt="Green Checkmark" style="width:304px;height:228px;">
		</h3>
</head>
<body>
<div class="container-fluid" style="max-width:1000px">
   <center>
<table>
	<tr>
		<td class="col-xs-3">Completed:</td>
		<td class="col-xs-3"></td>
	</tr>
	<tr>
		<td class="col-xs-3">Approved:</td>
		<td class="col-xs-3"></td>
	</tr>
	<tr>
		<td class="col-xs-3">Expired:</td>
		<td class="col-xs-3"></td>
	</tr>

</table>
	
   </center>


		</div>				

</body>
</html>