@{ 
    ViewBag.Title = "Home";
}

<!-- Need to add id for username for now I have hard-coded "John" -->
<h1 class="text-center">Hello, John. </h1> 
<h3 class="text-center">Your application is complete and has been approved!</h3>

<div style="margin-top:10px; margin-bottom:10px;">
	<img src="~/Images/GreenCheckmark.jpg" alt="Green Checkmark" style="width:100px;">
</div>

<div class="table-responsive col-xs-12">
    <table>
	    <tr class="col-xs-12">
		    <td colspan="6"><strong>Completed:</strong></td>
		    <td colspan="6"></td>
	    </tr>
	    <tr class="col-xs-12">
		    <td colspan="6"><strong>Approved:</strong></td>
		    <td colspan="6"></td>
	    </tr>
	    <tr class="col-xs-12">
		    <td colspan="6"><strong>Expires:</strong></td>
		    <td colspan="6"></td>
	    </tr>
    </table>
</div>