@model ConcussionCourseViewModel
@{
    ViewBag.Title = "Concussion Course";
}


    <h1 class="text-center">NFHS Concussion Course</h1><br />

    <form asp-controller="Application" asp-action="ConcussionCourse" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.ApplicationID" value="@Model.ApplicationID" />
        <div class="well">

            <a href="https://nfhslearn.com/courses/61064/concussion-in-sports">Take the NFHS Concussion Course</a>
           
                <div class="row" style="margin: 20px 0px 20px 0px">
                    

                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <label asp-for="ConcussionCourseSubmissionDate" class="control-label">Date of Completion:</label>
                        <input asp-for="ConcussionCourseSubmissionDate" type="date" @*asp-format="{0:MM/dd/yyyy}"*@ class="form-control" />
                        <input asp-for="NfhsPath" type="hidden" />
                    </div>

                </div>
            

                <div class="row">
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <label  class="control-label">Upload Certificate</label>
                        <input type="file" asp-for="File"
                               class="borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">

                    </div>
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        @if (Model.NfhsPath.Contains(".pdf"))
                        {
                            <embed src="@Model.NfhsPath" data-type="pdf" class="img-thumbnail"/>

                        }
                        else
                        {
                        <img src="@Model.NfhsPath" class="img-thumbnail"/>
                        }
                    </div>

                </div>
            </div>
            
           
        @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
        {
            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
            </div>

            Html.RenderPartial("ApproveDeny.cshtml");

            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
        }
        else
        {
            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
            </div>

            <div class="col-sm-6"></div>

            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
        }


    </form>


