@model IDViewModel
@{
    ViewBag.Title = "ID";
}



    <h1 class="text-center">Driver's License / Government ID</h1>
    <form asp-controller="Application" asp-action="ID" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.ApplicationID" value="@Model.ApplicationID" />
        <input asp-for="IDPath" type="hidden" />
        <div class="well">
            <p>
                Please upload a photo of a current government-issued ID.
            </p>
            <div class="row" style="margin-top:30px">
                <div class="row">
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <label for="" class="control-label">Upload ID</label>
                        <input type="file" asp-for="File"
                               class="borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">
                    </div>
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <img src="@Model.IDPath" class="img-thumbnail" />
                    </div>
                </div>
            </div>

            @*<div class="row" style="margin-top:30px">
            <div class="form-group col-xs-offset-1 col-xs-10 col-md-5">
                <div action="imageUpload.php" method="post" enctype="multipart/form-data" target="upload_target" onsubmit="jupload();" id="form1">
                    <div style="visibility:visible;" class="imageholder">
                        <!-- a gif image to show that the process wasn't finished -->
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-offset-1 col-xs-10 col-md-6">
                            <input type="file" name="imgfile" />
                            </div>
                            <div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
                                <input type="submit" name="uploadButton" class="upbtn" value="Upload" />
                            </div>
                        </div>
                </div>
               </div>
            </div>*@
        </div>

       @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
       {
        <div class="btn-group col-xs-12 col-sm-3">
            <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
        </div>

           Html.RenderPartial("ApproveDeny.cshtml");

        <div class="btn-group col-xs-12 col-sm-3">
            <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
        </div>
       }
       else
       {
            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
            </div>

            <div class="col-sm-6"></div>

            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
       }
    </form>
