<style type="text/css">
    .btn {
        margin: 20px auto;
        font: bold 20px Arial;
        width: 200;
        height: 100;
        background-color: green;
        vertical-align: middle;
    }
</style>

<!-- Need to add id for username for now I have hard-coded "John" -->
<h1 class="text-center">Hello, John. </h1>
<h3 class="text-center">What would you like to do?</h3>
<br />

<div class="container-fluid" style="max-width:1000px">
    <center>

        <div class="btn-group-vertical">
            <button type="button" onclick="location='/Application/Page1'" class="btn btn-primary">Enter Application Manually</button>
            <button type="button" onclick="location='/Application/Applications'" class="btn btn-primary">View In-Process Applications</button>
        </div>

    </center>


</div>
