@{ 
    ViewBag.Title = "Home";
}

<!-- Need to add id for username for now I have hard-coded "John" -->
<h1>Hello, John. </h1> 
<h3>You are not currently registered.<br/>
Please click here to begin or renew your application.</h3><br/>
      
<div class="btn-group-vertical">
    <button type="button" class="btn btn-primary">Let's get started!</button>
</div>		
