
    <!-- Need to add id for username for now I have hard-coded "John" -->
    <h1 class="text-center">Hello, John. </h1>
    <h3 class="text-center">
        You are not currently registered.<br />
        Please click here to begin or renew your application.
    </h3>

    <div class="container-fluid" style="max-width:1000px">
        <center>

            <div class="btn-group-vertical">

                <button type="button" class="btn btn-primary">Lets get started!</button>
                
            </div>

        </center>


    </div>

