@{
    ViewBag.Title = "Page 2";
}

<div class="container-fluid">
	@*<h1 class="text-center">Step 2:</h1>*@
	<h1 class="text-center">Coaching Intrests</h1><br />

	<form>
		<div class="container-fluid">
			<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
				<h4>Coaching position sought:</h4>
			</div>
			<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
				<h5><input type="radio" value="" style="font-weight: bold;">Head Coach</h5>
			</div>
			<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
				<h5><input type="radio" value="" style="font-weight: bold;">Assistant Coach</h5><br />
			</div>
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="sport" class="control-label">Sport</label>
			<select class="form-control">
				<option value=""></option>
				<option value="Basketball">Basketball</option>
				<option value="Baseball">Baseball</option>
				<option value="Football">Football</option>
				<option value="Lacrosse">Lacrosse</option>
				<option value="Soccer">Soccer</option>
				<option value="Volleyball">Volleyball</option>
			</select>
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="HS Area" class="control-label">High School Area</label>
			<select class="form-control">
				<option value=""></option>
				<option value="4J">4J</option>
				<option value="Bethel">Bethel</option>
				<option value="Eugene">Eugene</option>
				<option value="Springfield">Springfield</option>
			</select>
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="shool" class="control-label">School</label>
			<select class="form-control">
				<option value=""></option>
				<option value="Churchill">Churchill</option>
				<option value="North Eugene">North Eugene</option>
				<option value="South Eugene">South Eugene</option>
				<option value="Sheldon">Sheldon</option>
				<option value="Springfield">Springfield</option>
				<option value="Willamette">Willamette</option>
			</select>
		</div>
		<div></div>
        <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
                <label for="gender" class="control-label">Gender<br />  Preference</label>

                <select class="form-control">
                    <option value=""></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>

                </select>
            </div>

            <div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
                <label for="grade" class="control-label">Grade<br />  Hold Control and Click</label>

                <select multiple class="form-control">
                    <option value=""></option>
                    <option value="PK">Pre-K</option>
                    <option value="KG">Kindergarden</option>
                    <option value="1">1th Grade</option>
                    <option value="2">2th Grade</option>

                    <option value="3">3th Grade</option>
                    <option value="4">4th Grade</option>
                    <option value="5">5th Grade</option>
                    <option value="6">6th Grade</option>
                    <option value="7">7th Grade</option>
                    <option value="8">8th Grade</option>
            
                </select>
            </div>

            <div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
                <label for="childTeam" class="control-label">If coaching child's team, please note his/her name:</label>
                <input type="childTeam" value='' class="form-control" id="childTeam" placeholder="">
            </div>
        </div>
		<div sytle="text-align: center" >
			<h3>Do you have previous experience?</h3>
		</div>
        <div class="row" style="margin-top:40px">
            <div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
                <label for="yearsCoached" class="control-label">Previous Years Coached:</label>
                <input type="yearsCoached" value='' class="form-control" id="yearsCoached" placeholder="">
            </div>

            <div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
                <label for="gradesCoached" class="control-label">Previous Grades Coached</label>
                <select class="form-control">
                    <option value=""></option>
                    <option value="5">5th Grade</option>
                    <option value="6">6th Grade</option>
                    <option value="7">7th Grade</option>
                </select>
            </div>

            <div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
                <label for="experience" class="control-label">Years Experience</label>
                <select class="form-control">
                    <option value=""></option>
                    <option value="1">1 year</option>
                    <option value="2">2 years</option>
                    <option value="3">3 years</option>
                    <option value="4">4 years</option>
                </select>
            </div>
        </div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-8">
			<div class="pull-left">
				<button type="button" class="btn btn-primary btn-md-10">Save</button>
			</div>
		</div>
	</form>

	<div class="pull-right">
		<div class="form-group col-xs-12 col-sm-12 col-md-12">
			<ul class="pagination">
                <li><a asp-controller="Application" asp-action="Page1" style="color:black; font-weight:bold;">1</a></li>
                <li><a asp-controller="Application" asp-action="Page2" style="background-color:#218c48; color:black; font-weight:bold;">2</a></li>
                <li><a asp-controller="Application" asp-action="Page3" style="color:black; font-weight:bold;">3</a></li>
                <li><a asp-controller="Application" asp-action="Page4" style="color:black; font-weight:bold;">4</a></li>
                <li><a asp-controller="Application" asp-action="Page5" style="color:black; font-weight:bold;">5</a></li>
                <li><a asp-controller="Application" asp-action="Page6" style="color:black; font-weight:bold;">6</a></li>
                <li><a asp-controller="Application" asp-action="Page7" style="color:black; font-weight:bold;">7</a></li>
			</ul>
		</div>
	</div>
</div>

	
