@model Page4ViewModel
@{
    ViewBag.Title = "Page 4";
}

<div class="container-fluid">

    <h1 class="text-center">NFHS Concussion Course</h1><br />

    <form asp-controller="Application" asp-action="Page4" method="post" enctype="multipart/form-data">
        <div class="well">

            <a href="https://nfhslearn.com/courses/61064/concussion-in-sports">Take the NFHS Concussion Course</a>
           
                <div class="row" style="margin: 20px 0px 20px 0px">
                    

                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <label asp-for="Application.PcaSubmissionDate" class="control-label">Date of Completion:</label>
                        <input type="date" class="form-control" placeholder="Date">
                    </div>

                </div>
            

                <div class="row">
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <label for="" class="control-label">Upload Certificate</label>
                        <input type="file" asp-for="File"
                               class="required borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">
                    </div>
               </div>
            </div>
           
        @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
        {
            <div class="col-xs-offset-1 col-xs-4 col-md-offset-0 col-md-5">
                <button onclick="location='/Application/Page3'" type="button" class="btn btn-success pull-left"> < Previous</button>
            </div>

            Html.RenderPartial("ApproveDeny.cshtml");

            <div class="col-xs-offset-2 col-xs-4 col-md-offset-0 col-md-5">
                <button onclick="location='/Application/Page5'" type="button" class="btn btn-success pull-right">Next > </button>
            </div>
        }
        else
        {
            <div class="row" style="margin-top:15px">
                <div class="col-xs-offset-1 col-xs-4 col-md-offset-0 col-md-4">
                    <button onclick="location='/Application/Page3'" type="button" class="btn btn-success pull-left"> < Previous</button>
                </div>

                <div class="col-xs-offset-2 col-xs-4 col-md-offset-4 col-md-4">
                    <button onclick="location='/Application/Page5'" type="button" class="btn btn-success pull-right">Next > </button>
                </div>
            </div>
        }

    </form>
</div>

