@{
    ViewBag.Title = "Page 1";
}

<div class="container-fluid">
	<h1 class="text-center">Step 1:</h1>
	<h3 class="text-center">We need some information about you...</h3><br />

	<form>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="firstName" class="control-label">First Name</label>
			<input type="firstName" value='' class="form-control" id="firstName" placeholder="First Name">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="middleName" class="control-label">Middle Name</label>
			<input type="middleName" value='' class="form-control" id="middleName" placeholder="Middle Name">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="lastName" class="control-label">Last Name</label>
			<input type="lastName" value='' class="form-control" id="lastName" placeholder="Last Name">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="preferredName" class="control-label">Preferred Name</label>
			<input type="preferredName" value='' class="form-control" id="preferredName" placeholder="Preferred Name">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="previousName" class="control-label">Previous Last Name Used</label>
			<input type="previousName" value='' class="form-control" id="previousName" placeholder="Previous Last Name Used">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="dateOfBirht" class="control-label">Date of Birth</label>
			<input type="previousName" value='' class="form-control" id="dateOfBirth" placeholder="Date of Birth">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="cellPhone" class="control-label">Cell Phone</label>
			<input type="cellPhone" value='' class="form-control" id="cellPhone" placeholder="Cell Phone">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="altPhone" class="control-label">Alternate Phone</label>
			<input type="altPhone" value='' class="form-control" id="altPhone" placeholder="Alternate Phone">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-7">
			<label for="address" class="control-label">Address</label>
			<input type="address" value='' class="form-control" id="address" placeholder="Address">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="zip" class="control-label">Zip</label>
			<input type="zip" value='' class="form-control" id="zip" placeholder="Zip">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-7">
			<label for="city" class="control-label">City</label>
			<input type="city" value='' class="form-control" id="city" placeholder="City">
		</div>


		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="state" class="control-label">state</label>
			<select class="form-control">
				<option value=""></option>
				<option value="CA">California</option>
				<option value="OR">Oregon</option>
				<option value="WA">Washington</option>
			</select>
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-7">
			<label for="timeInOregon" class="control-label">Time in Oregon</label>
			<input type="timeInOregon" value='' class="form-control" id="timeInOregon" placeholder="Time in Oregon">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="pState" class="control-label">Previous state lived in</label>
			<input type="pState" value='' class="form-control" id="pState" placeholder="Previous State">
		</div>

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-7">
			<label for="curEmployer" class="control-label">Current Employer</label>
			<input type="curEmployer" value='' class="form-control" id="curEmployer" placeholder="Current Employer">
		</div>
		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<label for="jobTitle" class="control-label">Job Title</label>
			<input type="jobTitle" value='' class="form-control" id="state" placeholder="Job Title">
		</div><br />

		<div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
			<div class="pull-left">
				<button type="button" class="btn btn-primary btn-md-10">Save</button>
			</div>
		</div>



		<div class="pull-right">
			<div class="form-group col-sm-12">
				<ul class="pagination">
                    <li><a href="~/Views/Application/Page1.cshtml">1</a></li>
                    <li><a href="~/Views/Application/Page2.cshtml">2</a></li>
                    <li><a href="~/Views/Application/Page3.cshtml">3</a></li>
                    <li><a href="~/Views/Application/Page4.cshtml">4</a></li>
                    <li><a href="~/Views/Application/Page5.cshtml">5</a></li>
                    <li><a href="~/Views/Application/Page6.cshtml">6</a></li>
                    <li><a href="~/Views/Application/Page7.cshtml">7</a></li>
				</ul>
			</div>
		</div>
	</form>
 </div>
