@model Page6ViewModel
@{
    ViewBag.Title = "Page 6";
}

<div class="container-fluid">
    <h1 class="text-center">Step 6:</h1>
    <h3 class="text-center">Driver's License</h3>
    <form asp-controller="Application" asp-action="Page6" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <p>
                Please upload a photo of a valid ID. All new coaches must submit a valid ID.
            </p>

            <div class="container-fluid" style="margin-top:30px">
                

                <div class="pull-left">
                    <input type="file" asp-for="File"
                           class="required borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">

                    <img id="previewHolder" alt="" width="920" height="400" />
                </div>
            </div>

            <div class="pull-left" style="margin-top:15px">
                <div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
                    <button type="submit" class="btn btn-primary btn-md-10">Save</button>
                </div>
            </div>

            <div class="pull-right">
                <div class="form-group col-xs-offset-0 col-xs-10 col-md-12">
                    <ul class="pagination">
                        <li><a asp-controller="Application" asp-action="Page1" style="color:black; font-weight:bold;">1</a></li>
                        <li><a asp-controller="Application" asp-action="Page2" style="color:black; font-weight:bold;">2</a></li>
                        <li><a asp-controller="Application" asp-action="Page3" style="color:black; font-weight:bold;">3</a></li>
                        <li><a asp-controller="Application" asp-action="Page4" style="color:black; font-weight:bold;">4</a></li>
                        <li><a asp-controller="Application" asp-action="Page5" style="color:black; font-weight:bold;">5</a></li>
                        <li><a asp-controller="Application" asp-action="Page6" style="background-color:#218c48; color:black; font-weight:bold;">6</a></li>
                        <li><a asp-controller="Application" asp-action="Page7" style="color:black; font-weight:bold;">7</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
