@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization;

@{
    ViewBag.Title = "Page 1";
}

<div class="container-fluid">

    <h1 class="text-center">Coach Information</h1><br />
    <div>
        <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
    </div>
  
        <form>
            <div class="well">
                <div class="row">
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="firstName" class="control-label">First Name<span style="color:red;">*</span></label>
                        <input type="" value='' class="form-control" id="firstName" placeholder="">
                    </div>

                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">

                        <label for="middleName" class="control-label">Middle Name<span style="color:red;">*</span></label>
                        <input type="" value='' class="form-control" id="middleName" placeholder="">
                    </div>
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">

                        <label for="lastName" class="control-label">Last Name<span style="color:red;">*</span></label>
                        <input type="" value='' class="form-control" id="lastName" placeholder="">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="previousName" class="control-label">Previous Last Name #1</label>
                        <input type="" value='' class="form-control" id="previousName" placeholder="">
                    </div>

                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="previousName" class="control-label">Previous Last Name #2</label>
                        <input type="" value='' class="form-control" id="previousName" placeholder="">
                    </div>

                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="previousName" class="control-label">Previous Last Name #3</label>
                        <input type="" value='' class="form-control" id="previousName" placeholder="">
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="preferredName" class="control-label">Preferred Name</label>
                        <input type="" value='' class="form-control" id="preferredName" placeholder="">
                    </div>

                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="dateOfBirth" class="control-label">Date of Birth<span style="color:red;">*</span></label>
                        <input type="date" class="form-control" placeholder="Date">
                    </div>

                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="timeInOregon" class="control-label">Years Living in Oregon<span style="color:red;">*</span></label>
                        <select name="timeInOregon" class="form-control">
                            <option value="6" selected="selected">More than 5</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-8">
                        <label for="address" class="control-label">Address</label>
                        <input type="" value='' class="form-control" id="address" placeholder="">
                    </div>

                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <label for="city" class="control-label">City</label>
                        <input type="" value='' class="form-control" id="city" placeholder="">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="state" class="control-label">State<span style="color:red;">*</span></label>
                        <select name="state" id="state" class="form-control">
                            <option value="OR" selected="selected">Oregon</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>

                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>

                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="zip" class="control-label">Zip<span style="color:red;">*</span></label>
                        <input type="" value='' class="form-control" id="zip" placeholder="">
                    </div>

                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="pState" class="control-label">Previous states lived in:<span style="color:red;">*</span></label>
                        <select multiple name="state" id="state" class="form-control">
                            <option value="" selected="selected">Select Multiple States</option>

                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="cellPhone" class="control-label">Cell Phone<span style="color:red;">*</span></label>
                        <input type="tel" value='' class="form-control" id="cellPhone" placeholder="5415551212">
                    </div>

                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="altPhone" class="control-label">Alternate Phone</label>
                        <input type="tel" value='' class="form-control" id="cellPhone" placeholder="5415551212">
                    </div>
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <div class="checkbox">
                            <label><input type="checkbox" value=""><strong>I have lived outside US.</strong></label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-8">
                        <label for="curEmployer" class="control-label">Current Employer</label>
                        <input type="" value='' class="form-control" id="curEmployer" placeholder="">
                    </div>
                    <div class="form-group col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
                        <label for="jobTitle" class="control-label">Job Title</label>
                        <input type="" value='' class="form-control" id="state" placeholder="">
                    </div>
                </div>
            </div>
   
     
           @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
           {
                <div class="col-xs-offset-1 col-xs-4 col-md-offset-0 col-md-5"></div>

                Html.RenderPartial("ApproveDeny.cshtml");

                <div class="col-xs-offset-2 col-xs-4 col-md-offset-0 col-md-5">
                    <button onclick="location='/Application/Page2'" type="button" class="btn btn-success pull-right">Next > </button>
                </div>
           }
           else
           {
            <div class="row" style="margin-top:15px">
                <div class="col-xs-offset-1 col-xs-4 col-md-offset-0 col-md-4">
                </div>

                <div class="col-xs-offset-2 col-xs-4 col-md-offset-4 col-md-4">
                    <button onclick="location='/Application/Page2'" type="button" class="btn btn-success pull-right">Next > </button>
                </div>
            </div>
           }

    </form>
</div>  