@model Page6ViewModel
@{
    ViewBag.Title = "Page 6";
}

<div class="container-fluid">

    <h1 class="text-center">Driver's License/Government ID</h1>
    <form asp-controller="Application" asp-action="Page6" method="post" enctype="multipart/form-data">
        <div class="well">
            <p>
                Please upload a photo of a current government-issued ID.
            </p>
            <div class="row" style="margin-top:30px">
                <div class="row">
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <label for="" class="control-label">Upload ID</label>
                        <input type="file" asp-for="File"
                               class="required borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">
                    </div>
                </div>
            </div>

            @*<div class="row" style="margin-top:30px">
            <div class="form-group col-xs-offset-1 col-xs-10 col-md-5">
                <div action="imageUpload.php" method="post" enctype="multipart/form-data" target="upload_target" onsubmit="jupload();" id="form1">
                    <div style="visibility:visible;" class="imageholder">
                        <!-- a gif image to show that the process wasn't finished -->
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-offset-1 col-xs-10 col-md-6">
                            <input type="file" name="imgfile" />
                            </div>
                            <div class="form-group col-xs-offset-1 col-xs-10 col-md-3">
                                <input type="submit" name="uploadButton" class="upbtn" value="Upload" />
                            </div>
                        </div>
                </div>
               </div>
            </div>*@
        </div>

        @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
        {
            <div class="col-xs-offset-1 col-xs-4 col-md-offset-0 col-md-5">
                <button onclick="location='/Application/Page5'" type="button" class="btn btn-success pull-left"> < Previous</button>
            </div>

            Html.RenderPartial("ApproveDeny.cshtml");

            <div class="col-xs-offset-2 col-xs-4 col-md-offset-0 col-md-5">
                <button onclick="location='/Application/Page7'" type="button" class="btn btn-success pull-right">Next > </button>
            </div>
        }
        else
        {
            <div class="row" style="margin-top:15px">
                <div class="col-xs-offset-1 col-xs-4 col-md-offset-0 col-md-4">
                    <button onclick="location='/Application/Page5'" type="button" class="btn btn-success pull-left"> < Previous</button>
                </div>

                <div class="col-xs-offset-2 col-xs-4 col-md-offset-4 col-md-4">
                    <button onclick="location='/Application/Page7'" type="button" class="btn btn-success pull-right">Next > </button>
                </div>
            </div>
        }
    </form>
</div>