@model PcaCourseViewModel
@{
    ViewBag.Title = "Pca Course";
}



    <h1 class="text-center">PCA Course</h1>
    <form asp-controller="Application" asp-action="PcaCourse" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.ApplicationID" value="@Model.ApplicationID" />
        <div class="well">

            <a href="http://shopping.positivecoach.org/Double-Goal-Coach?search=Course">Click here to take the PCA Course.</a>
            <div style="margin-top:15px">

                <!--RENDER VOUCHER FROM CONTEXT-->
                <strong>Voucher Code: EmeraldKidSports16</strong>
            </div>
            <div class="row" style="margin: 20px 0px 20px 0px">


                <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                    <label asp-for="PcaCourseSubmissionDate"class="control-label">Completion Date</label>
                    <input asp-for="PcaCourseSubmissionDate" @*asp-format="{0:MM/dd/yyyy}"*@ type="date" class="form-control" />
                    <input asp-for="PcaPath" type="hidden"/>
                </div>
            </div>

            <div class="row" style="margin-top:30px">
                <div class="row">
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <label  class="control-label">Upload Certificate</label>
                        <input type="file" asp-for="File"
                               class="borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">
                    </div>
                    <div class="form-group col-xs-offset-1 col-md-offset-0 col-xs-10 col-md-4">
                        <img src="@Model.PcaPath" class="img-thumbnail" />
                    </div>
                </div>
            </div>

        </div>

        @if (User.IsInRole("SportsManager") || User.IsInRole("Admin"))
        {
            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
            </div>

            Html.RenderPartial("ApproveDeny.cshtml");

            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
        }
        else
        {
            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="previous" class="btn btn-primary col-xs-12 pull-left"> <i class="fa fa-arrow-left" aria-hidden='true'></i>  Previous</button>
            </div>

            <div class="col-sm-6"></div>

            <div class="btn-group col-xs-12 col-sm-3">
                <button type="submit" name="Direction" value="next" class="btn btn-primary col-xs-12 pull-right">Next <i class="fa fa-arrow-right" aria-hidden='true'></i>  </button>
            </div>
        }

    </form>


